In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import statsmodels.api as sm
from scipy.optimize import minimize
import seaborn as sns
from numpy.linalg import inv

In [10]:
Poos = pd.read_csv('../project_testing/1.6_monving_window_performance_min_mu_strategy.csv')

In [11]:

Poos['performance_min_mu']

           Date  performance_min_mu
0    2005-01-31           -0.017901
1    2005-02-28            0.017428
2    2005-03-31           -0.004180
3    2005-04-30           -0.023629
4    2005-05-31            0.035287
..          ...                 ...
211  2022-08-31           -0.029221
212  2022-09-30           -0.091870
213  2022-10-31            0.090702
214  2022-11-30            0.060563
215  2022-12-31           -0.031388

[216 rows x 2 columns]